body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
}

input, select {
    padding: 10px;
    margin: 10px;
    background-color: #333;
    color: white;
    border: 1px solid #555;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #222;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.card h2 {
    font-size: 1.5em;
}

.card p {
    font-size: 0.9em;
}

.label {
    background-color: gray;
    border-radius: 5px;
    color: white;
    padding: 8px;
    font-family: Arial;
}

.F1 {
    background-color: red;
}

.24HLeMans {
    background-color: blue;
}

.Dakar {
    background-color: #B8860B;
}

a :link :hover :visited :active {
    color: fff;
    text-decoration: none;
}